body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


div.topnav {
    overflow: hidden;
    background: linear-gradient(45deg, #aaa, #333);
}

div.topnav a {
    float: left;
    color: #eee;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: Helvetica;
    transform: skew(-20deg);
    border: 1px solid #222;
}

div.topnav a:hover {
    background-color: #ddd;
    font-size: 18px;
    color: #222;
}

div.topnav a.main {
    background: linear-gradient(45deg, #2255aa, #112266);
}

div.topnav a.auth {
    float: right;
}

div.sidenav {
    display: inline-block;
    background-color: #aaa;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
}

div.sidenav a {
    display: block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

div.sidenav a:hover {
    background-color: #333;
    color: white;
    font-size: 18px;
}

div.sidenav input {
    padding: 4% 4%;
    font-size: 18px;
    width: 90%;
}

img.logo {
    width: 80%;
    height: auto;
    border-radius: 40%;
    border: 3px solid #333;
}

div.input {
    padding: 5% 5%;
}

div.image {
    display: flex;
    justify-content: center;
}

div.main{
    display: inline-block;
}


