{% extends 'base.html' %}

{% block title %}
    Admin page - all users
{% endblock %}

{% block content %}
    <div class="users">
        <ul class="users">

            {% for user in users %}
                <li class="inputlabel">
                    <table>
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.date_of_birth }}</td>
                            <td>
                                {% if user.status == 'A' %}
                                    <a href="{% url 'delete_user_admin' user.id_user %}">Obriši</a>
                                {% else %}
                                    <a href="" style="color: gray;">Obriši</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}

        </ul>
    </div>

    {% if messages %}
        <div class="inputlabel">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

