<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sergej Prosic-->
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./scripts/script.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="./index.html" class="main"><p class="unskew">VicHub</p></a>
        <a href="./categories.html"><p class="unskew">Citaj viceve</p></a>
        <!---- <a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>
       <a href="content.html"><p class="unskew">Opcija levo</p></a>--->
       

        <a href="./login.html" class="right main"><p class="unskew">Prijavite se</p></a>
        <a href="./register.html" class="right main"><p class="unskew">Registrujte se</p></a>
    </div>

    <div class="content welcome">
        <div class="users">
            <ul class="users">
                <li class="inputlabel2">
                    <a href="content.html">Kategorija 1</a>
                </li>
                <li class="inputlabel2">

                    <a href="content.html">Kategorija 2</a>
                </li>
                <li class="inputlabel2">
                   
                    <a href="content.html">Kategorija 3</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 4</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 5</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 6</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 7</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 8</a>
                </li>
                <li class="inputlabel2">
                   
                    <a href="content.html">Kategorija 9</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 10</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 11</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 12</a>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>