<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sergej Prosic-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="./scripts/script.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="{% url 'home' %}" class="main"><p class="unskew">VicHub</p></a>
        <a href="{% url 'all_categories' %}"><p class="unskew">Citaj viceve</p></a>
        {% if user.is_authenticated%}
        <a href="{% url 'add_joke' %}" ><p class="unskew">Dodaj vic</p></a>
        {% endif %}
        <!---- <a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>
       <a href="content.html"><p class="unskew">Opcija levo</p></a>--->
       

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="right main"><p class="unskew">Odjavite se</p></a>
            {% else%}
            <a href="{% url 'login' %}" class="right main"><p class="unskew">Prijavite se</p></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="right main"><p class="unskew">Pogledaj profil</p></a>
            {% else%}
            <a href="{% url 'register' %}" class="right main"><p class="unskew">Registrujte se</p></a>
        {% endif %}
    </div>

    <div class="content welcome">
        <div class="users">
            <ul class="users">
                {% for category in categories%}
                    <li class="inputlabel2">
                        <a href="{% url 'category' category.id_category %}">{{category.name}}</a>
                    </li>
                {% endfor %}

              <!--  <li class="inputlabel2">
                    <a href="content.html">Kategorija 1</a>
                </li>
                <li class="inputlabel2">

                    <a href="content.html">Kategorija 2</a>
                </li>
                <li class="inputlabel2">
                   
                    <a href="content.html">Kategorija 3</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 4</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 5</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 6</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 7</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 8</a>
                </li>
                <li class="inputlabel2">
                   
                    <a href="content.html">Kategorija 9</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 10</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 11</a>
                </li>
                <li class="inputlabel2">
                    
                    <a href="content.html">Kategorija 12</a>
                </li> -->
            </ul>
        </div>
    </div>
    
</body>
</html>