<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sergej Prosic-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="{% url 'home' %}" class="main"><p class="unskew">VicHub</p></a>
        <a href="{% url 'all_categories' %}"><p class="unskew">Citaj viceve</p></a>
        {% if user.is_authenticated%}
            <a href="{% url 'add_joke' %}" ><p class="unskew">Dodaj vic</p></a>
            {% if user.type == "M" or user.type == "A" %}
                <a href="{% url 'pending_jokes' %}" ><p class="unskew">Neodobreni vicevi</p></a>
            {% else %}
                <a href="{% url 'request_mod' %}" ><p class="unskew">Zahtev za moderatora</p></a>
            {% endif %}
        {% endif %}
        <!---<a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>--->
        <!---<a href="#"><p class="unskew">Opcija levo</p></a>--->

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="right main"><p class="unskew">Odjavite se</p></a>
            {% else%}
            <a href="{% url 'login' %}" class="right main"><p class="unskew">Prijavite se</p></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="right main"><p class="unskew">Pogledaj profil</p></a>
            {% else%}
            <a href="{% url 'register' %}" class="right main"><p class="unskew">Registrujte se</p></a>
        {% endif %}
    </div>

    <div class="welcome content">
        <h2>{{category.name}}</h2>
        {% for joke in jokes %}
        <div class="joke inputlabel">
            <h2> {{joke.title}} </h2>
            <p>{{joke.content|linebreaks}}</p>
            <form method="get" action="{% url 'joke' joke.id_joke %}">
                {% csrf_token %}
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        {% endfor %}
        <!--<div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <br>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div> -->
        
    </div>
    
</body>
</html>