<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="logged_index.html" class="main"><p class="unskew">VicHub</p></a>
        <a href="logged_categories.html"><p class="unskew">Citaj viceve</p></a>
        <a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>
       

        <a href="./login.html" class="right main"><p class="unskew">Odjavite se</p></a>
        <a href="profile.html" class="right main"><p class="unskew">Pogledaj profil</p></a>
        
    </div>

    <div class="welcome content">
        <h2>Fore gore</h2>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="logged_single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="logged_single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <br>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="logged_single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        <div class="joke inputlabel">
            <h2>Joke title</h2>
            <p>Joke content <br>
                Joke content content content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                Joke content <br>
                ... <br>
            </p>
            <form action="logged_single_joke.html">
                <input type="submit" value="Otvori na posebnoj stranici" class="submitform submitauth">
            </form>
        </div>
        
    </div>
    
</body>
</html>