<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sergej Prosic-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="{% url 'home' %}" class="main"><p class="unskew">VicHub</p></a>
        <a href="{% url 'all_categories' %}"><p class="unskew">Citaj viceve</p></a>
        {% if user.is_authenticated%}
            <a href="{% url 'add_joke' %}" ><p class="unskew">Dodaj vic</p></a>
            {% if user.type == "M" or user.type == "A" %}
                <a href="{% url 'pending_jokes' %}" ><p class="unskew">Neodobreni vicevi</p></a>
            {% else %}
                <a href="{% url 'request_mod' %}" ><p class="unskew">Zahtev za moderatora</p></a>
            {% endif %}
        {% endif %}
        <!---<a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>--->
        <!---<a href="#"><p class="unskew">Opcija levo</p></a>--->

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="right main"><p class="unskew">Odjavite se</p></a>
            {% else%}
            <a href="{% url 'login' %}" class="right main"><p class="unskew">Prijavite se</p></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="right main"><p class="unskew">Pogledaj profil</p></a>
            {% else%}
            <a href="{% url 'register' %}" class="right main"><p class="unskew">Registrujte se</p></a>
        {% endif %}
    </div>

    <div class="welcome content">
        <h2>Odobravanje viceva</h2>
        {% for joke in all_pending_jokes %}
            <div class="joke inputlabel">
            <h2>{{ joke.title }}</h2>
            <p>
                {{ joke.content }}
            </p>
            <table class="table-for-joke">
                <tr>
                    <td>
                        <form method="post" action="{% url 'choose_category' joke.id_joke %}">
                            {% csrf_token %}
                            <input type="submit" value="Odobri" class="submitauth2">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'reject_joke' joke.id_joke %}">
                            {% csrf_token %}
                            <input type="submit" value="Odbaci" class="submitauth2">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>