<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Mihailo Tomasevic-->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="topnav">
        <a href="./index.html" class="main"><p class="unskew">VicHub</p></a>
        <a href="./categories.html"><p class="unskew">Citaj viceve</p></a>
       <!--- <a href="./add_joke.html"><p class="unskew">Dodaj vic</p></a>
       <a href="#"><p class="unskew">Opcija levo</p></a>--->

        <a href="./login.html" class="right main"><p class="unskew">Prijavite se</p></a>
        <a href="./register.html" class="right main"><p class="unskew">Registrujte se</p></a>
    </div>

    <div class="welcome content">
        <h2>Joke title</h2>
        <h5>Autor: Autor</h5>
        <div class="singlejoke inputlabel">
            <p>Joke content Joke content Joke content Joke content<br>
                Joke content Joke content Joke content Joke content<br>
                Joke content Joke content Joke content Joke content<br>
                Joke content Joke content Joke content Joke content<br>
                Joke content Joke content Joke content Joke content<br>
                Joke content Joke content Joke content Joke content<br>
                <hr>
            </p>
            <!---<form action="add_comment.html">
                <table class="table-for-joke"  >
                    <tr>
                        <td rowspan="2"><input type="submit" value="Dodaj komentar" class="submitform submitauth"> </td>
                        <td><input type="range" width="2%"></td>
                    </tr>
                    <tr>
                        <td>Oceni vic</td>                     
                    </tr>

                </table>
            </form>--->
        </div>
        
            <h5>Komentari</h5>
            <div class="comment">
                <h2>Autor</h2>
                <p>Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                </p>
            </div>
            <br>
            <div class="comment">
                <h2>Autor</h2>
                <p>Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                    Comment comment comment comment <br>
                </p>
            </div>
        
    </div>
  
</body>
</html>